schema/system.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema 
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns="http://formax.cz/system" targetNamespace="http://formax.cz/system"
	elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="xml.xsd"/>
	<xs:element name="component">
		<xs:annotation>
			<xs:documentation>Comment describing your root element</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="type" use="required"/>
			<xs:attribute name="id"/>
			<xs:attribute ref="xml:lang"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
